<div
  style=" perspective: 1200px;
  perspective-origin: center center; background-image: -webkit-gradient(linear, left top, left bottom, from(#000000),
  to(#000000c2), color-stop(0.5, #212121d9));">

  <div style="background: url(assets/svgs/bgArts.svg);
      background-repeat: no-repeat;
      background-size: cover; background-attachment: fixed; " id="home">

    <header>
      <div class="container text-left" style="position: absolute;
      width: 42%;
      margin-top: 215px;
      margin-left: 5%;
          ">

        <h4 >
          <span class="text-white-50 wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="2s"
            style="font-family: westFont; text-shadow: 2px 2px 3px #000000;" id="westCoast"> <i
              class="fa fa-store"></i>WEST COAST</span>
          <br>
          <span style="    font-family: amigo;
    color: rgba(0, 255, 255, 0.801);
    text-shadow: 3px 3px 0px #474747;" class="wow bounceInDown" data-wow-delay=".1s"
            data-wow-duration="3s">
            BODYWORKS</span>
        </h4>

        <h1 id="tattooShop" class="wow fadeInLeft">TATTOO SHOP
        </h1>

        <p class="lead text-white" style="font-family:Helvetica" class="wow fadeIn"
          data-wow-delay=".9s">Our high ratings and customer testimonials are the
          best in Cape Town, if not the
          entire Western
          Cape province. Apart from our high standards of customer service, we are also known for the artwork we
          do.
        </p>

        <div class="home-btns">
          <button class="btn btn-outline-dark wow fadeInLeft" data-wow-delay=".9s" style="color: white; width: 200px; font-size: 0.9rem">MORE
            INFO</button>
          <button class="btn btn-dark  wow fadeInLeft" data-wow-delay="1.3s"
            style="margin-left: 10%; width: 200px; font-size: 0.9rem">ABOUT
            US</button>
        </div>
      </div>

    </header>

    <div class=" containerr mask waves-effect waves-light">
      <img src="/assets/Tattoos/dreamm.png" alt="">
    </div>
  </div>
</div>



<div
  style=" perspective: 1200px;
  perspective-origin: center center; background-image: -webkit-gradient(linear, left top, left bottom, from(#000000d6),
  to(#000000),
  color-stop(0.5, #212121b8));">


  <div style="background: url(assets/svgs/bgPaint.svg);
      background-position-x: 0;
      background-size: 100%;
      background-position-y: -2px;
      background-repeat: no-repeat;
      background-repeat: repeat-x;
      background-position-x: right;
                  margin-bottom: -16px; background-attachment: fixed">

    <div class="row justify-content-center no-gutters mb-5 mb-lg-0" style="margin-top: 0px; height: 100vh;">
      <div class="col-lg-6" id="first-col" >
        <img class="img-fluid" id="img-home" style="    transform: rotateY(-6deg);border-bottom: 8px solid rgb(236, 236, 236);
            border-top: 8px solid rgb(236, 236, 236);
            border-left: 8px solid rgb(109 109 109);
            border-right: 8px solid rgb(97 97 97);
            box-shadow: 14px 11px 17px -9px black;"
            class="wow fadeInUp"
          data-wow-delay=""
          src="/assets/Artist/marcus/marcusGun.png" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100" style="width: 80%;
    border-radius: 32px;
    box-sizing: border-box;">
            <div class="project-text w-100 my-auto  text-lg-left wow fadeIn" data-wow-delay=".6s" data-wow-duration="1.3s" id="first-col-text">
              <h4
                style="font-family: greateVibes;font-size: 2em;     color: #99165c; text-align: center;     text-shadow: 2px 3px 2px #5f5f5f;">
                Tattoo Artist
              </h4>

               <img style="    margin-left: 37%;
    width: 27.5%;
    margin-top: -48px;" src="/assets/svgs/underline art shadoww.svg" alt="">
              <p class="mb-0 " style="color: black; text-align: center; font-family:Helvetica;">Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Fugit aliquid quam alias nihil deleniti. Beatae magni laudantium
                deleniti nesciunt aperiam? Quis inventore voluptatibus possimus iusto mollitia harum incidunt deleniti
                rem?</p>
              <hr class="d-none d-lg-block mb-0 ml-0" style="     border-top: 1px solid #99165c;
    box-shadow: 0 1px 4px 0px black;
    width: 74%;
        margin-left: 14% !important;">

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters" id="project-two-row">
      <div class="col-lg-6">
        <img class="img-fluid" id="img-home" style="
            border-bottom: 8px solid rgb(236, 236, 236);
            border-top: 8px solid rgb(236, 236, 236);
            border-left: 8px solid rgb(109 109 109);
            border-right: 8px solid rgb(97 97 97);
            box-shadow: 14px 11px 17px -9px black;" class="wow fadeInUp" data-wow-delay=".6s"
          src="/assets/Artist/marcus/artwork/good/updatedClown.png" alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100" style="margin-left: 8%; width: 80%;
    border-radius: 32px;
    box-sizing: border-box;">
            <div class="project-text w-100 my-auto text-center text-lg-right wow fadeIn" data-wow-delay=".9s"
              data-wow-duration="1.3s" style="background-color: #ffffffcc;
    border-radius: 5px;
    width: 33%;
    box-sizing: border-box; text-align: center; padding: 55px 10%; box-shadow: inset 0px 0px 134px -3px #000000; border:
    2px solid black;
    box-shadow: inset 0px 0px 134px -3px #000000; transform: rotateY(-2deg);

        border-bottom: 8px solid rgb(236, 236, 236);
        border-top: 8px solid rgb(236, 236, 236);
        border-left: 8px solid #525252;
        border-right: 8px solid #525252;
    ">
              <h4
                style="font-family: greateVibes;font-size: 2em;     color: #99165c; text-align: center;     text-shadow: 2px 3px 2px #5f5f5f;">
                Clown</h4>
                 <img style="margin-right: 40%; width: 20.5%;
      margin-top: -32px;" src="/assets/svgs/underline art shadoww.svg"alt="">
                <!-- <img style="    width: 20.5%;
      margin-top: -32px;" src="/assets/svgs/line.svg" alt=""> -->
              <p class="mb-0" style="font-family:Helvetica; color: black; text-align: center;">Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Porro quidem eos facilis quasi deserunt itaque alias iusto libero,
                consequuntur eveniet nobis pariatur accusamus dicta illum distinctio officiis architecto soluta magnam!
              </p>
              <hr class="d-none d-lg-block mb-0 mr-0" style="    border-top: 1px solid #99165c;
    box-shadow: 0 1px 4px 0px black;
    width: 60%;
    margin-left: 18%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: -0.9px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 -10px 20px 3px #ffffff3d;">
