@media screen and (min-width: 500px){
  #artist-intro{
    height: auto;
  }
}
@media screen and (min-width: 993px){
  #artist-intro{
    height: 100vh;
  }
}

#about {
  margin-top: 429px;
}

#artist-intro {

  margin-top: 0px;

  background-size: 100%;

  width: 100%;
  padding-top: 135px;
}

#artist-head {
  font-family: amigo !important;
  z-index: 15;

  &::after {
    content: '';
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    bottom: -5px;
    z-index: -2;
  }

  &::before {
    background: green;
    width: 100vw;
    left: 50%;
  }
}

.Artistinfo {
  z-index: 3;
  margin-top: -341px;

  h1,
  h2,
  h3,
  h4,
  p {
    color: white;
  }

  li {
    color: white;
  }
}

#artist {

  margin-top: 0;
  padding-left: 3%;
  width: 98%;

  h2 {
    text-align: center;
    font-family: westFont;
     color: #18a3a6;
     font-size: 2.5em;
     text-shadow: 2px 3px 3px #000000;
    z-index: 15 !important;
  }
}





.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 96px;
  margin-top: 55px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #0000005c;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  width: 68%;
      box-shadow: 1px 1px 9px 1px black;
}

#cortesy {
  flex-direction: row;
  margin-right: 10%;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  /* text-align: center; */
  padding-left: 32%;

  li {
    margin-right: 4%;
    display: list-item;
  }
}

.view {
  border-bottom: #880e4f;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
    box-shadow: inset 0px -2px 44px 8px #00000094;
  padding-left: 24.5%;
  transition: all 0.6s ease-in-out;

  img{
    transition: all .3s ease-in-out;
  }
}

.view:hover {
  transform: scale(1.4);
    z-index: 5;

img{
    box-shadow: 0 0 94px 93px black;
    z-index: 5;
}
}

.card-img,
.card-img-bottom,
.card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 68%;
  transition: all 0.4s ease-in-out;
}


.card-img-top:hover {
  transform: scale(2.3);
  margin-top: 30px;
}



.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0;
  margin-bottom: 50px;

.card-title{
    font-family: kuashan !important;
}

.card-text{
  font-family: badScript !important;
}

  .book {
    // color: rgb(0, 0, 0);
    color: whitesmoke;
    position: absolute;

    left: 32%;
    transition: all .6s ease-in-out;
    font-weight: 500;
    font-family: badScript !important;
    z-index: 15 !important;
  }

}



.card-body:hover {

  .book {
    color: black;
  }

}

.card-img-top {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: all .6s ease-in-out;
}

