<div
  style="background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000c2), color-stop(0.5, #212121d9));">
  <div id="artist-intro" style="background: url(assets/svgs/45004-original.svg);
      background-repeat: no-repeat;
      background-size: cover; background-attachment: fixed;">
  <section id="artist">

    <img style="margin-left: 41.5%;
      z-index: 1;
      margin-top: 41px;
      position: absolute;
      visibility: visible;
      animation-duration: 2s;
      animation-delay: 1.3s;
      animation-name: fadeIn;
      width: 12%; z-index: 15 !important;" class="wow fadeIn" data-wow-delay="1.3s" data-wow-duration="2s" src="/assets/svgs/underline art shadow.svg"
      alt="">

    <h2 id="artist-head" class="wow bounceInDown" data-wow-delay=".3s" data-wow-duration="2s" style="    z-index: 5;
      visibility: visible;
      animation-duration: 2s;
      animation-delay: 0.3s;
      animation-name: bounceInDown;
      position: relative;
      /* margin-left: 43%; */
      /* margin-right: 50%; */
      margin-top: -22px;
      text-align: center; text-shadow: rgb(74, 74, 74) 2px 4px 3px;">Artist</h2>

    <div class="row" style="    display: flex;
      flex-wrap: wrap;
      margin-right: 0px;
      margin-left: 96px;
      margin-top: 30px;
      padding-top: 70px;">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 wow fadeInLeft" data-wow-delay=".1s" data-wow-duration=".7s">



        <!-- Card Narrower -->
        <div class="card card-cascade narrower">

          <!-- Card image -->
          <div class="view view-cascade overlay img-hover-zoom">
            <img class="card-img-top" src="/assets/Artist/marcus/marcusTwo.png" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade">

            <!-- Label -->
            <h5 class=" pb-2 pt-1"></h5>
            <!-- Title -->
            <h4 class="card-title" style="text-align: center;color: white; z-index: 15 !important;">Marcus</h4>
            <!-- Text -->
            <p class="card-text" style="color:whitesmoke; text-align: center; z-index: 15 !important;">R150 - 1 Hour</p>
            <!-- Button -->
            <a class="book btn btn-outline-light waves-effect waves-light">Book Now</a>

          </div>

          <!-- Card footer -->
          <!-- <div class="card-footer text-muted text-center">
                      2 days ago
                    </div>
           -->
        </div>
        <!-- Card Narrower -->





      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">



        <!-- Card Narrower -->
        <div class="card card-cascade narrower">

          <!-- Card image -->
          <div class="view view-cascade overlay img-hover-zoom">
            <img class="card-img-top" src="/assets/Artist/marcus/marcusTwo.png" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade">

            <!-- Label -->
            <h5 class=" pb-2 pt-1"></h5>
            <!-- Title -->
            <h4 class=" card-title" style="text-align: center;color: white; text-shadow: 3px 2px 5px #000000;">Marcus
            </h4>
            <!-- Text -->
            <p class="card-text" style="color:whitesmoke; text-align: center; text-shadow: 3px 2px 5px #000000;">R150 -
              1 Hour</p>
            <!-- Button -->
            <a class="book btn btn-outline-light uk-button-small waves-effect waves-light" >Book Now</a>

          </div>

          <!-- Card footer -->
          <!-- <div class="card-footer text-muted text-center">
                      2 days ago
                    </div>
           -->
        </div>
        <!-- Card Narrower -->





      </div>





       <!-- Grid column -->
       <div class="col-lg-4 col-md-6 mb-4 wow fadeInRight" data-wow-delay=".9s" data-wow-duration=".7s">



         <!-- Card Narrower -->
         <div class="card card-cascade narrower">

           <!-- Card image -->
           <div class="view view-cascade overlay img-hover-zoom">
             <img class="card-img-top" src="/assets/Artist/marcus/marcusTwo.png" alt="Card image cap">
             <a>
               <div class="mask rgba-white-slight waves-effect waves-light"></div>
             </a>
           </div>

           <!-- Card content -->
           <div class="card-body card-body-cascade">

             <!-- Label -->
             <h5 class=" pb-2 pt-1"></h5>
             <!-- Title -->
             <h4 class=" card-title" style="text-align: center;color: white">Marcus</h4>
             <!-- Text -->
             <p class="card-text" style="color:whitesmoke; text-align: center;">R150 - 1 Hour</p>
             <!-- Button -->
             <a class="book btn btn-outline-light uk-button-small waves-effect waves-light">Book Now</a>

           </div>

           <!-- Card footer -->
           <!-- <div class="card-footer text-muted text-center">
                      2 days ago
                    </div>
           -->
         </div>
         <!-- Card Narrower -->





       </div>



    </div>

  </section>

  </div>
</div>



