<!-- Navigation -->
<nav class=" wow fadeIn navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"
  style="background-image: url(/assets/img/footer-banner.jpg)">
  <div class="container">

    <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span style="font-size: small; color: grey; font-style: italic; font-family: westFont;" >WEST COAST</span>
                <br>
                <span style="color:rgba(0, 255, 255, 0.801);font-size: small;  font-weight: bold; letter-spacing: 3px;font-family: bodyFont ">BODYWORKS</span>
            </a> -->
    <h4 class="navbar-brand js-scroll-trigger" style="font-size: .9rem;
    word-spacing: 3px;
    font-family: westFont;
    margin-top: 2px; line-height: 14px;"> <i class="fa fa-store"></i>
      <span style="font-family: westFont; color: grey;text-shadow: 3px 5px 4px black;" class="wow fadeInLeft"
        data-wow-delay=".6s">WEST COAST</span>
      <br>
      <span id="nav-body" style="font-family: amigo; color:rgba(0, 255, 255, 0.801);text-shadow: 3px 5px 4px black;"
        class="wow bounceInLeft" data-wow-delay="1s" data-wow-duration="4s"><a routerLink="home">BODYWORKS </a>
      </span>
    </h4>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class=" wow fadeInLeft nav-link js-scroll-trigger" data-wow-delay="1.2s" routerLinkActive="active"
            routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class=" wow fadeInLeft nav-link js-scroll-trigger" data-wow-delay=".9s" routerLinkActive="active"
            routerLink='/our-artist'>OUR
            ARTIST</a>
        </li>
        <li class="nav-item">
          <a class=" wow fadeInLeft nav-link js-scroll-trigger" data-wow-delay=".6s" routerLinkActive="active"
            routerLink="/latest-work">LATEST
            WORKS</a>
        </li>
        <li class="nav-item">
          <a class="cont wow fadeInLeft nav-link js-scroll-trigger"

data-wow-delay=".3s" routerLinkActive="active"


            routerLink="/contact">CONTACT</a>
        </li>

      </ul>
      <ul class="social-icons ml-auto" style="    position: absolute;
    right: 1%;
    height: 44px;
    width: 11%;
">
        <li class="wow bounceInRight nav-item" data-wow-delay="0.3s">
          <img style="width: 100%; height: 130%;" src="/assets/SocialMediaIcons/Instagram.png" alt="">
        </li>

        <li class="wow bounceInRight nav-item" data-wow-delay="0.4s">
          <img style="width: 100%; height: 130%;" src="/assets/SocialMediaIcons/facebook.png" alt="">
        </li>

        <li class="wow bounceInRight nav-item" data-wow-delay="0.5s">
          <img style="width: 100%; height: 130%;" src="/assets/SocialMediaIcons/twitter.png" alt="">
        </li>
      </ul>
    </div>
  </div>
</nav>
