<div style="height: 100vh; background-image: -webkit-gradient(linear, left top, left bottom, from(#000000),
    to(#000000c2), color-stop(0.5,
    #212121d9));">
  <div
    style=" perspective: 1200px;
    perspective-origin: center center;  height: 40vh;
    ">
    <hr style="    margin-top: -1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: -0.9px solid rgb(255, 255, 255);
        box-shadow: 0px 153px 104px 12px #ffffff8c;">
    <!-- Portfolio Section -->
    <section id="portfolio" style="    padding: 5px;
      width: 84%;
      /* padding-bottom: 113px; */
      height: auto;
      margin: -17px auto 93px auto; ">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="wow fadeInUp col-lg-4 col-sm-6" data-wow-delay=".6s">
                    <a class="portfolio-box"
                        href="assets/Artist/marcus/artwork/good/WhatsApp Image 2018-07-23 at 8.23.12 ti.jpeg">
                        <img class="img-fluid"
                            src="assets/Artist/marcus/artwork/good/WhatsApp Image 2018-07-23 at 8.23.12 ti.jpeg" alt="">
                        <!-- <div class="portfolio-box-caption" style="width: 82.4%; border-radius: 20px;;
        height: 100%; ">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div> -->
                    </a>
                </div>
                <div class="wow fadeInUp col-lg-4 col-sm-6" data-wow-delay=".3s">
                    <a class="portfolio-box" href="assets/Artist/marcus/artwork/good/eye background.jpg">
                        <img class="img-fluid" src="assets/Artist/marcus/artwork/good/eye background.jpg" alt="">
                        <!-- <div class="portfolio-box-caption" style="width: 82.4%; border-radius: 20px;;
        height: 100%;">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div> -->
                    </a>
                </div>
                <div class="wow fadeInUp col-lg-4 col-sm-6" data-wow-delay=".9s">
                    <a class="portfolio-box"
                        href="assets/Artist/marcus/artwork/good/WhatsApp Image 2018-07-23 at 8.25.55 dp.jpeg">
                        <img class="img-fluid"
                            src="assets/Artist/marcus/artwork/good/WhatsApp Image 2018-07-23 at 8.25.55 dp.jpeg" alt="">
                        <!-- <div class="portfolio-box-caption" style="width: 82.4%; border-radius: 20px;
        height: 100%;">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div> -->
                    </a>
                </div>
                <div class="wow fadeInUp col-lg-4 col-sm-6" data-wow-delay="1.2s">
                    <a class="portfolio-box" href="assets/Artist/marcus/artwork/good/updatedClown.png">
                        <img class="img-fluid" src="assets/Artist/marcus/artwork/good/updatedClown.png" alt="">
                        <!-- <div class="portfolio-box-caption" style="width: 82.4%; border-radius: 20px;
        height: 100%;">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div> -->
                    </a>
                </div>
                <div class="wow fadeInUp col-lg-4 col-sm-6" data-wow-delay="1.5s">
                    <a class="portfolio-box"
                        src="assets/Artist/marcus/artwork/good/WhatsApp Image 2018-07-23 at 8.23.30 PM.jpeg">
                        <img class="img-fluid"
                            src="assets/Artist/marcus/artwork/good/WhatsApp Image 2018-07-23 at 8.23.30 PM.jpeg" alt="">
                        <!-- <div class="portfolio-box-caption" style="width: 82.4%; border-radius: 20px;
        height: 100%;">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div> -->
                    </a>
                </div>
                <div class="wow fadeInUp col-lg-4 col-sm-6" data-wow-delay="1.8s">
                    <a class="portfolio-box"
                        href="assets/Artist/marcus/artwork/good/WhatsApp Image 2018-07-23 at 8.26.22 PM.jpeg">
                        <img class="img-fluid"
                            src="assets/Artist/marcus/artwork/good/WhatsApp Image 2018-07-23 at 8.26.22 PM.jpeg" alt="">
                        <!-- <div class="portfolio-box-caption p-3width" style="width: 82.4%; border-radius: 20px;
        height: 100%;">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div> -->
                    </a>
                </div>
            </div>
        </div>
    </section>

    <hr style="    margin-top: -1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: -0.9px solid rgb(255, 255, 255);
        box-shadow: 0px -59px 104px 12px #ffffff56;">
  </div>
</div>
