@font-face {
  font-family: TattooFont;
  src: url ('/assets/fonts/Aclonica-Regular.ttf') format('truetype');
}


// .app-bg{

// margin-top: 67px;
// background-color: white;
// height: 596px;
// }

.app-bg {
  margin-bottom: 0px;
}