<div
  style=" background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000c2), color-stop(0.5, #212121d9));">
  <section id="artist-intro" class="wow fadeIn" data-wow-duration="2s">

  <div class="Artistinfo wow fadeIn" data-wow-delay=".6s" data-wow-duration="2.6s">
    <h2>You
      Dream it, We Draw it</h2>
    <h4 style="text-align: center">We'll Transform Your Ideas Into Stunning Tattoo Designs</h4>

    <ul id="cortesy">
      <li>Professional Artist</li>
      <li>100% customer artwork</li>
      <li>Money-back guarantee</li>
    </ul>
  </div>
  </section>


</div>
  <app-portfolio></app-portfolio>
